{% extends 'main/base.html' %}

{% block title %}Список типов договоров{% endblock %}

{% block content %}
<h1>Типы договоров</h1>

<a href="{% url 'contracttype-create' %}" class="btn btn-primary mb-3">Добавить тип</a>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Название</th>
    <th>Описание</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  {% for contracttype in contracttypes %}
  <tr>
    <td><a href="{% url 'contracttype-detail' contracttype.pk %}">{{ contracttype.name }}</a></td>
    <td>{{ contracttype.description }}</td>
    <td>
      <a href="{% url 'contracttype-update' contracttype.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
      <a href="{% url 'contracttype-delete' contracttype.pk %}" class="btn btn-sm btn-danger">Удалить</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}